<h1>Sign Up or Sign In</h1>
<form method='POST' action='/sailors/init'>
	<input type='radio' id='signup' name='choice' value='signup'>Sign Up</input><br></br>
	<input type='radio' id='login' name='choice' value='login' checked>Log In</input><br></br>
	<input type='submit' id='submit' value='Submit'>
</form>
